<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Tourism Guide</title>
</head>

<body>
    <header>
        <h1>Welcome to the Tourism Guide</h1>
    </header>

    <div class="container">
        <p>Explore destinations around the world.</p>
    </div>
    <form action="{{ url_for('main.search') }}" method="GET">
        <input class="search-input" type="text" name="query" placeholder="Search destinations">
        <button class="search-button" type="submit">Search</button>
    </form>
    <div id="destination-container">
        {% for destination in destinations %}
        <div>
            <h2>{{ destination.name }}</h2>
            <p>{{ destination.description }}</p>
        </div>
        {% endfor %}
    </div>
    <footer>
        <p>&copy; 2024 Tourism Guide</p>
    </footer>
</body>

</html>